.profile {
  padding: 40px 0;
}

.description {
  background-color: #ffffff;
  max-width: 30vw;
  margin: 0 auto;
  padding: 40px 0 20px 0;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 3px 3px 5px 0px rgba(83, 73, 73, 0.75);
}

.avatar {
  border-radius: 25%;
  width: 50%;
  margin: 0 auto;
}

.name {
  margin-top: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.tag {
  margin-top: 12px;
  text-align: center;
  color: #4a4a4a;
  font-size: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 30vw;
  gap: 5px;
  padding: 40px;
  margin: 0 auto;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #ecf0f4;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px 0px rgba(83, 73, 73, 0.75);
}

.item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 10px) / 3);
  align-items: center;
  justify-content: center;
  font-size: 18px;
  gap: 10px;
}

.quantity {
  font-weight: 700;
}
